* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  color: #333333;
  background-color: #efefef;
  max-width: 1080px;
  margin: 0 auto;
}

article {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
}

.box {
  background: skyblue;
  border: 3px solid;
  padding: 15px;
  width: 700px;
  height: 350px;
}

.mb-30 {
  margin-bottom: 30px;
}
